Luke Bryan <lb1programmer@user.sourceforge.net> lb1programmer <lb1programmer@users.sourceforge.net>
Luke Bryan <lb1programmer@user.sourceforge.net> lb1programmer <luke@Linuxpc.(none)>
Luke Bryan <lb1programmer@user.sourceforge.net> programmin1 <luke32j@msn.com>
