Package: tunesviewer
Version: 1.3
Section: net
Priority: optional
Installed-Size: 166
Depends: python (>= 2.6), python-gtk2 (>= 2.16), python-lxml (>= 2.0), python-webkit (>=1.1), rhythmbox-plugins (>=0.12)
Suggests: vlc (>=1.0), soundconverter (>=1.0)
Maintainer: Luke <lb1programmer@users.sourceforge.net>
Architecture: all
Description: A small, easy-to-use program to access iTunesU media and podcasts.
 TunesViewer is a small, easy-to-use program to access iTunesU media and podcasts from Linux.
 TunesViewer lets you:
 * Search, browse, and download videos, audio lectures, and ebooks.
 * Go directly from the "loading iTunes-U..." page to viewing podcast with TunesViewer.
 * Reveal the standard rss-podcast-feed of an iTunes podcast, for use in podcast software.
 * Log in to download students-and-staff-only media.
