[Desktop Entry]
Version=1.0
Type=Application
Exec=tunesviewer %U
Icon=tunesview
Terminal=false
Categories=Application;Network;
MimeType=x-scheme-handler/itms;x-scheme-handler/itmss;x-scheme-handler/itpc;
Name=TunesViewer
Name[en_US]=TunesViewer
Name[pt]=TunesViewer
GenericName=iTunes U browser
GenericName[pt]=navegador do iTunes
Comment=Access iTunesU media and podcasts.
Comment[en_US.utf8]=Access iTunesU media and podcasts.
Comment[en_US]=Access iTunesU media and podcasts.
Comment[pt_BR.utf8]=Programa pequeno e simples de usar para acessar conteúdo do iTunes U
Comment[pt_BR]=Programa pequeno e simples de usar para acessar conteúdo do iTunes U
