Package: tunesviewer
Version: 1.4-0.1
Architecture: all
Maintainer: Luke Bryan <lb1programmer@users.sourceforge.net>
Installed-Size: 268
Depends: python (>= 2.6), python-gtk2 (>= 2.16), python-lxml (>= 2.0), python-notify, python-support (>= 0.90), python-webkit (>= 1.1)
Recommends: rhythmbox-plugins (>= 0.12)
Suggests: soundconverter (>= 1.0), vlc (>= 1.0)
Section: net
Priority: optional
Homepage: http://tunesviewer.sf.net/
Description: program to access iTunesU media and podcasts
 TunesViewer is a small, easy-to-use program to access iTunesU media and
 podcasts from Linux.  TunesViewer lets you:
 .
  * Search, browse, and download videos, audio lectures, and ebooks.
  * Go directly from the "loading iTunes-U..." page to viewing podcast with
    TunesViewer.
  * Reveal the standard RSS-podcast-feed of an iTunes podcast, for use in
    podcast software.
  * Log in to download students-and-staff-only media.
